/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.baseline-indicator::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50%;
    border-top: 1px solid red;
    z-index: 1;
}

.meanline-indicator::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 75%;
    border-top: 1px solid blue;
    z-index: 2;
}